<?php

$config = [
    //mysql connection parameters
    'db' => [
        'server' => '127.0.0.1',
        'user' => 'sql-user-name',
        'pass' => 'XXXXXXXXXXXXXXXXXXXX',
        'name' => 'test1'
    ],

    
    'common' => [
        'file_storage' => '/var/www/images', 
        'login_url'=> '/user/login',
        'template_path'=>'/../src/Example/Views/templates'
    ],

    'langueges'=>[
        'default'=>'ru',
        'supported'=>['ru','en','fr','de','ch']
    ]
  
];